<!--
SPDX-FileCopyrightText: 2017-2022 GNU Solidario <health@gnusolidario.org>
SPDX-FileCopyrightText: 2017-2022 Luis Falcón <falcon@gnuhealth.org>

SPDX-License-Identifier: GPL-3.0-or-later
-->

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>GNU Health Federation</title>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',
               filename='style.css')}}" />
</head>

<body>
<div class="wrapper">
<div class="header">
<h1>
<span>Welcome to the</span>
GNU Health Federation</h1>
</div>
</div>
</body>
</html>
