<!--
SPDX-FileCopyrightText: 2017-2022 GNU Solidario <health@gnusolidario.org>
SPDX-FileCopyrightText: 2017-2022 Luis Falcón <falcon@gnuhealth.org>

SPDX-License-Identifier: GPL-3.0-or-later
-->

<!doctype html>
<html>
<head>
    <title>GNU Health Federation</title>
    <meta charset="utf-8" />
    <title>GNU Health Federation : Update Password</title>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',
               filename='style.css')}}" />
</head>

<body>
      <h2 style = "text-align: center;">GNU Health Federation</h2>

      {% for message in form.password.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      <form action="{{ url_for('password', person_id= fed_account) }}" method=post>
         <fieldset>
            <legend>Change Password for {{fed_account}}</legend>
            {{ form.hidden_tag() }}

               {{ form.password.label }}
               {{ form.password }}
               {{ form.pconfirm.label }}
               {{ form.pconfirm }}
               {{ form.update }}

         </fieldset>
      </form>
</body>
</html>
